<h2>Carrito de Compras</h2>

<button mat-button (click)="regresarAListado()">Regresar al Listado de Productos</button>

<!-- Agrega un botón para realizar la compra -->
<button mat-button (click)="realizarCompras()">Realizar Compra</button>

<!-- Muestra un mensaje de "Compra realizada" si la compra se ha realizado -->
<div *ngIf="compraRealizada" class="compra-realizada mostrar">
  Compra realizada
</div>


<table *ngIf="mostrarTabla">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let compra of arrayCompra">
      <td>{{ compra.titulo }}</td>
      <td>{{ compra.cantidad }}</td>
      <td>{{ compra.precioCompra }}</td>
    </tr>
  </tbody>
</table>
