/* Estilos generales para pantallas grandes */
.container {
  display: flex;
  flex-direction: column;

  &__content {
    min-height: 150px;
  }

  .mat-form-field {
    margin-bottom: 20px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 0 100px; /* Agrega margen negativo para compensar el espacio entre las tarjetas */
  }

  .comprar-btn {
    display: flex;
    align-items: center;
  }

  .mat-icon {
    font-size: 24px; /* Ajusta el tamaño del ícono según tus preferencias */
    margin-right: 5px; /* Agrega un espacio entre el ícono y el contador */
  }

  .cart-item-count {
    font-weight: bold; /* Puedes hacer que el contador sea más visible con negrita */
    margin-right: 10px; /* Ajusta el espacio entre el contador y el texto "Ir a Comprar" */
  }

  .go-to-cart {
    cursor: pointer; /* Haz que el texto "Ir a Comprar" sea interactivo */
    color: blue;
    text-decoration: underline;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card-item {
    padding: 3px;
  }

  .cards__item {
    display: flex;
    padding: 1rem;
  }

  .example-card {
    max-width: 400px;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-card img {
    object-fit: cover;
    width: 100%;
    height: 60%;
  }

  mat-card-content {
    text-align: center;
    margin-top: 10px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    button {
      margin: 0 10px;
    }
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 20px; /* Ajusta el margen para pantallas más pequeñas */
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .container {
    margin: 0 10px; /* Ajusta aún más el margen para pantallas más pequeñas */
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Estilos para el botón "Ver" */
.ver-button {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/* Resto de tus estilos existentes */
/* ... */

.success-message {
  background-color: #4caf50; /* Color de fondo del mensaje */
  color: white; /* Color del texto del mensaje */
  padding: 10px;
  margin-top: 10px; /* Margen superior para separar del formulario */
  border-radius: 5px;
}
