<section class="container">
  <div class="cards-container">
    <ul class="cards">
      <li class="cards__item" *ngFor="let compra of paginatedCompras$ | async">
        <!-- Asegúrate de que "compra" no sea null o undefined -->
        <div *ngIf="compra">
          <h3>ID: {{ compra.id }}</h3>
          <p>Usuario ID: {{ compra.userId }}</p>
          <p>Producto ID: {{ compra.productoId }}</p>
          <p>Título: {{ compra.titulo }}</p>
          <p>Precio: {{ compra.precio }}</p>
          <p>Fecha de Compra: {{ compra.fechaCompra }}</p>
          <p>Cantidad: {{ compra.cantidad }}</p>
        </div>
      </li>
    </ul>
  </div>
</section>

