<div *ngIf="compraRealizada" class="compra-realizada">
  Compra realizada
</div>

<form (ngSubmit)="realizarCompra()">

  <mat-form-field>
    <mat-label>Nombre del Producto</mat-label>
    <input matInput [value]="nombreProducto" name="nombreProducto" readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="cantidad" name="cantidad" required min="0">
    <!-- Agrega min="0" para evitar valores negativos -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="precio" name="precio" disabled>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="cantidad <= 0">Realizar Compra</button>
  <!-- Agrega [disabled]="cantidad <= 0" para deshabilitar el botón cuando cantidad sea menor o igual a cero -->
</form>
