<app-spinner *ngIf="loading$ | async"></app-spinner>
<section class="container">
  <!-- Productos Agregados -->
  <div *ngIf="mostrarTabla" class="productos-agregados">
    <h2>Tus Productos Agregados</h2>
    <table class="productos-table">
      <thead>
        <tr>
          <th>Nombre Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of arrayCompra">
          <td>{{ compra.titulo }}</td>
          <td>{{ compra.cantidad }}</td>
          <td>{{ compra.precioCompra }}</td>
        </tr>
      </tbody>
    </table>
    <div class="comprar-btn">
      <a routerLink="../../compra/final">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-item-count">{{ cartItemCount }}</span>
        <span class="go-to-cart">Ir a Comprar</span>
      </a>
    </div>
  </div>

  <div>
    <label for="categoria">Selecciona una categoría:</label>
    <select id="categoria" [(ngModel)]="selectedCategoria" (change)="filterByCategory()">
      <option value="-1">Todas las categorías</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
    </select>
  </div>


  <div class="cards-container">
    <ul class="cards">
      <li class="cards__item" *ngFor="let producto of filteredProductos$ | async">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title >Nombre del Producto: {{ producto.nombre }}</mat-card-title>
            <mat-card-subtitle >NegocioId del Producto {{ producto.negocioId }}</mat-card-subtitle>
            <mat-card-subtitle >CategoriaId del Producto {{ producto.categoriaId }}</mat-card-subtitle>
            <mat-card-subtitle >Precio del Producto: {{ producto.precio }}</mat-card-subtitle>
            <mat-card-subtitle >Stock del Producto: {{ producto.stock }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="{{ producto.picture ? producto.picture : pictureDefault }}"
            alt="{{ producto.nombre }}"
          />
          <mat-card-actions>
            <button mat-button>Ver</button>
            <button mat-button (click)="addCarrito(producto.id, producto.precio, producto.nombre)">
              Añadir al Carrito
            </button>
            <button mat-button
              [routerLink]="[
                '../../compra/nuevaCompra',
                producto.id,
                producto.nombre,
                producto.precio,
                userId,
                nombreUsuario,
                apellidoUsuario
              ]"
              routerLinkActive="active"
            >
              Comprar
            </button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>

  <div class="pagination">
    <button mat-button (click)="changePage(-1)" [disabled]="currentPage === 1">
      Anterior
    </button>
    <span>Página {{ currentPage }}</span>
    <button mat-button (click)="changePage(1)" [disabled]="currentPage * itemsPerPage >=
      (productosLength !== undefined ? productosLength : 0)"
      *ngIf="productosLength !== undefined">
      Siguiente
    </button>
  </div>
</section>
