<app-spinner *ngIf="loading$ | async"></app-spinner>

<mat-toolbar color="secondary">
  <span>Registrar Nuevo Producto</span>
</mat-toolbar>

<section fxLayoutAlign="center">
  <mat-card>
      <form fxLayout="column"
        fxLayoutAlign="center center"
        #f = "ngForm"
        (ngSubmit) = "registrarProducto(f)"
        fxLayoutGap="10px"
      >

        <div class="personal__photo">
              <div class="photo">
                  <app-entity-photo class="photo__img" [photoURL]="photoLoaded"></app-entity-photo>
                  <button mat-button appFilesUpload (changed)="onFilesChanged($event)">
                      <mat-icon>upload</mat-icon>
                      Subir Imagen
                  </button>
              </div>
        </div>

        <mat-form-field>
          <mat-label>Ingrese Nombre</mat-label>
          <input
          type="text"
          ngModel
          name="nombre"
          required
          placeholder="Ingrese Nombre"
          matInput
          />
          <mat-error>Debe ingresar un nombre</mat-error>
        </mat-form-field>

        <div class="direccion-list">
          <label>Seleccione Categoría:</label>
          <mat-radio-group [(ngModel)]="selectedDireccion" name="direccion" required>
            <mat-radio-button *ngFor="let direccion of direccions" [value]="direccion">{{ direccion }}</mat-radio-button>
          </mat-radio-group>
        </div>


        <mat-form-field>
          <mat-label>Ingrese Precio</mat-label>
          <input
          type="text"
          ngModel
          name="precio"
          required
          placeholder="Ingrese Precio"
          matInput
          />
          <mat-error>Debe ingresar el precio</mat-error>
        </mat-form-field>


        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Guardar Producto</button>


      </form>

  </mat-card>

</section>
